.sidebar {
  flex: 1;
  background-color: $bg-darker;
  padding: 0px 10px;
  min-width: 250px;
  position: relative;

  &__title {
    width: 100%;
    height: 16px;
    font-size: 20px;
    font-weight: 600;
    color: $text-lighter;
    margin: 20px 0 20px 20px;
    cursor: pointer;
  }

  hr {
    width: 100%;
    border: 1px solid $bg-base;
  }

  &__chats {
    background-color: $bg-darker;
    border: none;
    color: $text-lighter;
    font-size: 16px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    border-radius: 10px;

    &:hover {
      background-color: $bg-base;
      transition: 0.3s;
    }

    &__toggle {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: row;
      p {
        margin-left: 10px;
      }
    }

    button {
      justify-content: center;
      background-color: transparent;
      border: none;
      color: $text-lighter;
      cursor: pointer;
      font-size: 16px;
      font-weight: 600;
      &:hover {
        color: $text-base;
      }
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 10px;

    &__hidden {
      display: none;
    }

    li {
      width: 100%;
      cursor: pointer;
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      font-size: 16px;
      font-weight: 600;
      border-radius: 10px;
      padding: 5px 10px;
      color: $text-lighter;

      &:hover {
        background-color: $bg-base;
        transition: 0.3s;
      }
      div {
        color: $text-lighter;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        text-decoration: none;
        p {
          margin-left: 10px;
        }
      }
    }

    &__link {
      color: $text-lighter;
      width: 100%;

      display: flex;
      justify-content: start;
      align-items: center;
      flex-direction: row;
      text-decoration: none;
      p {
        margin-left: 10px;
      }
    }
    &__status {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 10px;
      flex-direction: row;
      font-size: 12px;
      color: $bg-base;
      background-color: $text-lighter;
      padding: 3px 5px;
      min-width: 50px;
    }
  }

  &__profile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
    background: #292b2f;
    height: 60px;
    border-radius: 16px;
    padding: 0 8px;
    width: 85%;
    position: absolute;
    bottom: 10px;
    right: 0;
    left: 0;
    margin: auto;

    div {
      width: 30px;
      display: flex;
      flex-direction: row;
      justify-content: start;
      align-items: center;
      font-size: 36px;

      p {
        margin-left: 10px;
        font-size: 14px;
      }
    }
  }

  &__modal {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5);
    &__content {
      width: 400px;
      height: 200px;
      border-radius: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      position: relative;
      z-index: 1000;
      background-color: $bg-darker;

      &__input {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 80%;

        input {
          width: 100%;
          height: 40px;
          border-radius: 10px;
          border: none;
          padding: 0 10px;
          margin-bottom: 10px;
        }
      }

      &__button {
        width: 85%;
        height: 40px;
        border-radius: 10px;
        border: none;
        margin-bottom: 10px;
        background-color: $bg-base;
        color: $text-lighter;
        font-size: 16px;
        font-weight: 600;
        cursor: pointer;
        &:hover {
          background-color: $bg-darker;
          transition: 0.3s;
        }
      }

      h3 {
        font-size: 20px;
        font-weight: 600;
        color: $text-lighter;
        margin-bottom: 20px;
      }

      &__close-button {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 20px;
        font-weight: bold;
        color: $text-lighter;
        background-color: transparent;
        border: none;
        cursor: pointer;
        outline: none;
        height: 20px;
        width: 20px;
      }
    }
  }
}
